[Unit]
Description=PasTmon Sensor

[Service]
# Docker image tag version e.g. latest, 0.16, etc...
Environment=PTAG=latest
EnvironmentFile=-/etc/systemd/system/pastmon.service.d/local.conf    # Allows overide per node

ExecStartPre=-/usr/bin/docker stop pastmon-sensor%i || true
ExecStartPre=-/usr/bin/docker rm pastmon-sensor%i || true

#/usr/bin/docker start -a pastmon-sensor%i ||
ExecStart=/bin/bash -c "\
    /usr/bin/docker run --rm \
        --name pastmon-sensor%i \
        --net=host --cap-add=NET_ADMIN \
        gbevan/pastmonsensor:$PTAG \
        \"$(etcdctl get /services/website/pastmon-web@1)\""

ExecStop=-/usr/bin/docker stop pastmon-sensor%i || true
Restart=always
RestartSec=15000
#StartLimitInterval=0

[X-Fleet]
Conflicts=pastmon-*@*.service
